.slide-in-img {
  opacity: 0;
  transform: translateX(100px); /* Start 100px to the right */
  transition: opacity 1s ease, transform 3s ease;
}

.slide-in-img.visible {
  opacity: 1;
  transform: translateX(0); /* End at original position */
} 
.bg-custom {
  background-color: #005f82 !important; /* Replace with your desired color */
} 
.carousel-img {
  width: 550px;        /* Set your preferred width */
  height: 300px;       /* Set your preferred height */
  object-fit: cover;   /* Ensures images fill the box and are cropped if needed */
  border-radius: 10px; /* Optional: rounded corners */
}
